* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
}

.notfound .notfound-div {
    height: 280px;
    position: relative;
    z-index: -1;
}

.notfound .notfound-div h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 230px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url('../img/error-text-bg.jpg') no-repeat center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}


.notfound h2 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.notfound p {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

#home-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #113255;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #F2C413;
    font-weight: 700;
    box-shadow: 0 4px 15px -5px #113255;
    transition: 0.5s all;
}

#home-button:hover {
    background: #F2C413;
    color: #113255;
    box-shadow: 0 4px 15px -5px #F2C413;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-div {
        height: 142px;
    }

    .notfound .notfound-div h1 {
        font-size: 112px;
    }
}