@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/************NAVIGATION************/
#nav-logo {
    min-height: 3.125rem;
    max-height: 3.5rem;
}

#nav-logo-link {
    transition: 1s opacity !important;
}

#nav-logo-link:hover {
    opacity: 0.6 !important;
}

.navbar-menu div a {
    transition: 0.5s all;
}

.navbar-item,
.navbar-item.has-dropdown,
.navbar-item.has-dropdown .navbar-link {
    color: #113255 !important;
    transition: 0.5s all;
}

.navbar-item:hover,
.navbar-item.active-page:hover,
.navbar-item.has-dropdown.is-active .navbar-link,
.navbar-item.has-dropdown:hover .navbar-link {
    background-color: #F2C413 !important;
    color: #113255 !important;
}

#nav-logo-link:hover {
    background-color: unset !important;
    color: unset !important;
}

.navbar-item.active-page {
    background-color: #113255 !important;
    color: #F2C413 !important;
}