{% macro head(title) %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <base href="/">
    </head>
{% endmacro %}

{% macro nav(currentURL) %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" id="nav-logo-link">
                <img src="static/img/AHS-Logo.jpg" width="auto" id="nav-logo">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/about">About</a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/ahs/">AHS</a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/ahs/1">Level 1</a>
                        <a class="navbar-item" href="/ahs/2">Level 2</a>
                        <a class="navbar-item" href="/ahs/3">Level 3</a>
                        <a class="navbar-item" href="/ahs/4">Level 4</a>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('.navbar-menu .navbar-item').each((indx, elem) => {
                let href = $(elem).attr('href');

                if (href === '{{ currentURL }}')
                    $(elem).addClass('active-page');
            });
        </script>
    </nav>
{% endmacro %}
