{% macro head(title, time) %}
    <head id="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>

        <!-- Import Bulma - the CSS framework used to build this site (https://bulma.io/) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <!-- Import FontAwesome Icons (JS + SVG version for custom CSS animations) (https://fontawesome.com) -->
        <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
        <!-- Import jQuery for all-around better and easier JavaScript (https://jquery.com/) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <base href="{{ host_prefix }}/">

        <!-- Import main CSS stylesheet, adding a ? with the current UTC time to ensure that the cache is avoided -->
        <link rel="stylesheet" href="static/css/main.css?{{ time }}">

        <!-- Import and initialize Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="194x194" href="static/img/favicon/favicon-194x194.png">
        <link rel="icon" type="image/png" sizes="192x192" href="static/img/favicon/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="static/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="static/img/favicon/safari-pinned-tab.svg" color="#51a517">
        <link rel="shortcut icon" href="static/img/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#00a300">
        <meta name="msapplication-TileImage" content="static/img/favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="static/img/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </head>
{% endmacro %}

{% macro nav() %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ host_prefix }}/" id="nav-logo-link">
                <img src="static/img/Energize-Andover-Logo-Small.png" width="auto" id="nav-logo"
                     alt="Town of Andover Seal">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>
    <div id="sidenav">
        <a class="sidenav-item" href="{{ host_prefix }}/">Home</a>
        <a class="sidenav-item" href="{{ host_prefix }}/about">About</a>

        <div class="sidenav-item sidenav-dropdown">
            <a class="sidenav-dropdown-title">AHS</a>

            <div class="sidenav-dropdown-hidden" id="floor-dropdown">
                <script type="text/javascript">
                    let floors = {{ floors }};

                    floors.forEach((floor) => {
                        $('#floor-dropdown').append(`<a class="sidenav-item sidenav-dropdown-item" href="{{ host_prefix }}/ahs/${floor}">Floor ${floor - 1}</a>`)
                    });
                </script>
            </div>
        </div>

        <script type="text/javascript">
            $('#sidenav .sidenav-item').each((indx, elem) => {
                let href = $(elem).attr('href');

                if (href === '{{ request.path }}')
                    $(elem).addClass('active-page');
            });
        </script>
    </div>
    <div id="overlay"></div>
{% endmacro %}

{% macro footer(year) %}
    <footer class="site-footer" style="padding: 0;">
        <div class="container">
            <a href="https://www.energizeandover.com" target="_blank" title="Visit Energize Andover's Website"><img
                    style="display: block; margin: 0 auto" src="static/img/Energize-Andover-Logo.png"/></a>
            <br>
            <p id="footer-text" style="text-align: center; color: black; margin-bottom: 20px;">
                <small>&copy;{{ year }} <a href="https://ivanovich.us" target="_blank" title="Visit Daniel's website">Daniel
                    Ivanovich</a> & <a href="https://www.energizeandover.com" target="_blank"
                                       title="Visit Energize Andover's Website">Energize Andover</a> All rights
                    reserved.
                </small>
                <br>
                <span id="footer-link-holder">
                <a href="https://github.com/Energize-Andover/AHS-Heatmap" target="_blank"
                   title="Visit this project on GitHub"><i class="fab fa-github"></i></a>
                <a href="mailto:dan@ivanovi.ch" title="Email the developer"><i class="fas fa-envelope"></i></a>
            </span>
            </p>
        </div>
    </footer>
    <script>
        let footer = $('.site-footer:first');

        function adjustFooter() {
            if ($('header:first').outerHeight() + $('main:first').outerHeight() + footer.outerHeight() < $(window).height()) {
                footer.css({
                    'position': 'fixed',
                    'left': 0,
                    'right': 0,
                    'bottom': 0
                });
            } else {
                footer.css({
                    'position': 'static',
                    'left': 'unset',
                    'right': 'unset',
                    'bottom': 'unset'
                });
            }
        }

        $(window).bind('resize', function () {
            adjustFooter();
        });

        $(adjustFooter());
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.3/mobile-detect.min.js"></script>
    <script type="text/javascript" src="{{ host_prefix }}/static/js/navigation.js?{{ time }}"></script>
{% endmacro %}
