{% macro head(title, time) %}
    <head id="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <base href="{{ host_prefix }}/">
        <link rel="stylesheet" href="static/css/main.css?{{ time }}">
    </head>
{% endmacro %}

{% macro nav() %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ host_prefix }}/" id="nav-logo-link">
                <img src="static/img/Andover-Seal.png" width="auto" id="nav-logo" alt="Town of Andover Seal">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ host_prefix }}/">Home</a>
                <a class="navbar-item" href="{{ host_prefix }}/about">About</a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">AHS</a>

                    <div class="navbar-dropdown" id="floor-dropdown">
                        <script type="text/javascript">
                            let floors = {{ floors }};

                            floors.forEach((floor) => {
                                $('#floor-dropdown').append(`<a class="navbar-item" href="{{ host_prefix }}/ahs/${floor}">Floor ${floor - 1}</a>`)
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('.navbar-menu .navbar-item').each((indx, elem) => {
                let href = $(elem).attr('href');

                if (href === '{{ request.path }}')
                    $(elem).addClass('active-page');
            });
        </script>
    </nav>
{% endmacro %}

{% macro footer(year) %}
    <footer class="site-footer">
        <div class="container">
            <p style="text-align: center; color: black; margin-bottom: 20px;">
                <small>&copy;{{ year }} Daniel Ivanovich All rights reserved.</small>
            </p>
            <img style="display: block; margin: 0 auto" src="static/img/Energize-Andover-Logo.png"/>
        </div>
        </div>
    </footer>
    <script>
        let footer = $('.site-footer:first');

        function adjustFooter() {
            if ($('header:first').outerHeight() + $('main:first').outerHeight() + footer.outerHeight() < $(window).height()) {
                footer.css({
                    'position': 'fixed',
                    'left': 0,
                    'right': 0,
                    'bottom': 0
                });
            } else {
                footer.css({
                    'position': 'static',
                    'left': 'unset',
                    'right': 'unset',
                    'bottom': 'unset'
                });
            }
        }

        $(window).bind('resize', function () {
            adjustFooter();
        });

        $(adjustFooter());
    </script>

{% endmacro %}
