<!DOCTYPE html>
<html lang="en">
{% import 'macros.html' as macros %}
{{ macros.head("AHS Level 3", time) }}
<body id="body">
<link rel="stylesheet" href="static/css/svg_output_page.css?{{ time }}"> <!-- We want to avoid caching -->
{{ macros.nav("/ahs/3") }}
<div id="svg-container"><!-- the svg is loaded in via javascript--></div>
<div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch" onclick="toggleDisplay()">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>

<script type="text/javascript">
    let isShowingTemperature = true;

    function loadSvg() {
        $('#svg-container').load(`static/svg_and_conversions/{{ file_filled_prefix }}${isShowingTemperature ? 'temperature' : 'co2'}.svg?${$.now()}`);
    }
</script>
<script src="static/js/svg_output_page.js?{{ time }}"></script>
</body>
</html>
